In [1]:
import sqlite3

In [3]:
#conecta com o banco de dados
conexao = sqlite3.connect('Base_uracan.db')

In [5]:
cursor = conexao.cursor()

In [45]:
#cria a tabela de carros
criar_tabela = 'Create table Carro (Id_carro integer primary key, modelo varchar(200), preco float)'
cursor.execute(criar_tabela)

In [43]:
#excluir tabela
cursor.execute('Drop table Carro')

In [47]:
#insere um carro
cursor.execute("Insert into Carro values(1, 'lamborghini urus', 1000000)")

In [49]:
#jeito melhor de inserir vários itens
comando_inserir = 'insert into Carro values (?, ?, ?)'

In [51]:
registros = [(2, 'porshe carrera', 150000.5),
             (3, 'chrysler', 100000),
            (4, 'gol g3', 20000)]

In [53]:
#jeito melhor de inserir itens pt.2
for registro in registros:
    cursor.execute(comando_inserir, registro)
conexao.commit()

In [55]:
listar = 'select * from Carro'
cursor.execute(listar)
dados = cursor.fetchall()

In [59]:
# %d = decimal e %s = string
for linha in dados:
    print('ID: %d, Modelo: %s, Preço: %.2f'% linha)

ID: 1, Modelo: lamborghini urus, Preço: 1000000.00
ID: 2, Modelo: porshe carrera, Preço: 150000.50
ID: 3, Modelo: chrysler, Preço: 100000.00
ID: 4, Modelo: gol g3, Preço: 20000.00

In [111]:
def listar_carros():
    cursor.execute('select * from Carro')
    for linha in cursor.fetchall():
        print(f'{linha}')

In [113]:
listar_carros()

(1, 'lamborghini urus', 1000000.0)
(2, 'porshe carrera', 150000.5)
(3, 'chrysler', 100000.0)
(4, 'gol g3', 20000.0)

In [115]:
conexao.commit()
cursor.close()
conexao.close()